* {
	margin: 0;
	padding: 0;
}
html {
	background: #364a7d;
}
body {
	background: #364a7d;
	font-family: var(--font);
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/* Timeline Container */
.timeline {
	margin: 20px auto;
	padding: 20px;
	display: flex;
	justify-content: center;
}

.timelineh1 {
	color: white;
	letter-spacing: -1.75px;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 10px;
	border-radius: 5px;
}

/* Card container */
.card {
	position: relative;
	max-width: 400px;
}

	/* setting padding based on even or odd */
	.card:nth-child(odd) {
		padding: 30px 0 30px 30px;
	}

	.card:nth-child(even) {
		padding: 30px 30px 30px 0;
	}
	/* Global ::before */
	.card::before {
		content: "";
		position: absolute;
		width: 50%;
		border: solid #b7b8b8;
	}

	/* Setting the border of top, bottom, left */
	.card:nth-child(odd)::before {
		left: 0px;
		top: -4.5px;
		bottom: -4.5px;
		border-width: 5px 0 5px 5px;
		border-radius: 50px 0 0 50px;
	}

	/* Setting the border of top, bottom, right */
	.card:nth-child(even)::before {
		right: 0;
		top: 0;
		bottom: 0;
		border-width: 5px 5px 5px 0;
		border-radius: 0 50px 50px 0;
	}

	/* Removing the border if it is the first card */
	.card:first-child::before {
		border-top: 0;
		border-top-left-radius: 0;
	}

	/* Removing the border if it is the last card  and it's odd */
	.card:last-child:nth-child(odd)::before {
		border-bottom: 0;
		border-bottom-left-radius: 0;
	}

	/* Removing the border if it is the last card  and it's even */
	.card:last-child:nth-child(even)::before {
		border-bottom: 0;
		border-bottom-right-radius: 0;
	}

/* Information about the timeline */
.info {
	display: flex;
	flex-direction: column;
	background: white;
	color: black;
	border-radius: 10px;
	padding: 0;
}

/* Title of the card */
.title {
	color: #00a4ff;
	position: relative;
	padding: 0 20px;
	margin: 10px 0;
}

.headline,
.headline-2 {
	padding: 0 20px;
}

.headline-2,
.list-right {
	text-align: right;
}

.timelineh1main {
	text-transform: uppercase;
	color: white;
	letter-spacing: -1.75px;
	margin-left: -50px;
	font-weight: 900;
}

.sub-menu {
	color: white;
	font-size: 20px;
	padding-left: 25px;
}

.active {
	background-color: transparent;
	border: 1px solid white;
	padding: 10px;
	border-radius: 5px;
}
/* Timeline dot  */
.title::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background: white;
	border-radius: 999px;
	border: 3px solid #3aacff;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
	text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
	left: -35px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
	right: -35px;
}
